.input {
  grid-area: input;
  background-color: yellowgreen;
  justify-content: center;
  align-items: center;
  display: flex;
}

.input__textBox {
  text-align: center;
  width: 4rem;
  border: none;
  border-radius: 8%;
}

.input__textBox:focus {
  font-weight: bolder;
  font-size: 2rem;
}
