.puzzle__box {
  position: relative;
  width: 100%;
  background-color: yellowgreen;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  grid-area: puzzleBox;
}
