.character_container {
  transition: all 10s ease-in-out;
  height: 3rem;
  width: 3rem;
  position: relative;
  transform-style: preserve-3d;
}

.character_container > div {
  border-radius: 40%;
}

.character_front {
  position: absolute;
  background-color: gold;
  height: 100%;
  width: 100%;
  backface-visibility: hidden;
}

.character_back {
  transition: all 10s ease-in-out;
  background-color: green;
  font-size: 2rem;
  position: absolute;
  height: 100%;
  width: 100%;
  backface-visibility: hidden;
  transform: rotateY(180deg);
  text-align: center;
}

.character_right {
  transition: all 10s ease-in-out;
  transform: rotateY(360deg);
  background-color: green;
}

@media only screen and (max-width: 450px) {
  .character_container {
    height: 1.5rem;
    width: 1.5rem;
  }
  .character_back {
    font-size: 1rem;
  }
}
