.info {
  grid-area: info;
  background-color: yellowgreen;
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  grid-template-rows: 1fr;
  grid-template-areas: "remaining gameOver guessed";
}

.info__gameOver {
  grid-area: gameOver;
  background-color: cyan;
}

.info__remainingTries {
  background-color: rgba(255, 255, 0, 0.8);
  grid-area: remaining;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 0.5fr 1fr;
  margin: 0.4rem;
  border-radius: 4%;
}

.info__label {
  display: flex;
  justify-content: center;
  align-items: center;
}

.info__detail {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  align-items: center;
  border-radius: 20px;
  margin: 1rem;
  font-size: 1rem;
  box-shadow: 0.2rem 0.1rem 0.4rem 0.2rem rgb(139, 134, 63);
}

.info__guessedCharacters {
  grid-area: guessed;
  background-color: rgba(255, 255, 0, 0.8);
  margin: 0.4rem;
  border-radius: 4%;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 0.5fr 1fr;
}

.info__gameOver {
  margin: 0.4rem;
  background-color: rgba(255, 255, 0, 0.8);
  margin: 0.4rem;
  border-radius: 4%;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 0.2fr;
  grid-template-areas:
    "image"
    "restartButton";
  transition: all 5s ease-in-out;
}

.info__image {
  justify-self: center;
  align-self: center;
  object-fit: contain;
  grid-area: image;
  display: flex;
  width: 0.2vw;
  height: 0.2vh;
  transition: all 0.5s ease-in-out;
}

.gameOver {
  transform: scale(100);
}

.button-restart {
  grid-area: restartButton;
  justify-self: center;
  align-self: center;
  background-color: gold !important;
}

.modal_Container {
  height: 100vh;
  font-weight: bolder;
  font-size: 2rem;
  background-color: yellowgreen;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

@media only screen and (max-width: 450px) {
  .button-restart {
    transform: scale(0.5);
  }
  .modal_Container {
    font-size: 1rem;
  }
}
